/* ---------- 全局样式 ---------- */

body {
    height: 100%;
    margin: 0 auto;
    font-size: 16px;
    padding-top: 4em;
}

a:hover {
    color: #21ba45;
}

.avatar {
    width: 28px !important;
    height: 28px !important;
    border-radius: 50%;
    margin-right: 0;
}

/* ---------- nav ---------- */

.nav{
  padding: 0em 0em;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
  position: fixed;
  top: 0px;
  z-index: 900;
  left: 0%;
  padding: 0.5em 0em;
  width: 100%;
  border-bottom: 1px solid transparent;
}
.nav .ui.secondary.menu{
  min-height: 0;
}
.nav .ui.dropdown .menu{
  transition: none;
}
.nav .ui.secondary.menu .dropdown.item>.menu{
  margin-top: 0;
}
.nav .ui.menu .right.menu .dropdown:last-child .menu{
  left: 0;
  right: auto;
}

/* ---------- article-content ---------- */
.article .ui.selection.dropdown{
  min-width: 7em;
}
.article .content-box{
  display: flex;
  width: 100%
}
.article .content-box > div{
  float: left;
  width: 50%;
  transition: width ease 0.4s;
}
.article .content-box .display-box{
  padding: 0 1em 0 0;
  display: flex;
}
.article .content-box .display-box .arrow-box > i{
  opacity: 0.7;
  font-size: 2em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity ease 0.3s;
  width: auto;
  margin-right: 0;
  padding: 0 0.3em;
}
.article .content-box .display-box .arrow-box > i:hover{
  opacity: 1;
  cursor: pointer;
}
.article .content-box .display-box .display-content{
  flex: 1;
  overflow: auto;
}
.form .img-box{
  width: 25%;
  margin: 5px 0;
}
.img-box > img.preview{
  width: 100%;
}
.ui.pointing.red.basic.label{
  display: none;
}

/* 一些动画 */
.transition-extend-hover{
  transform: scale(1.2);
  transition: transform ease 0.3s !important;
}
.transition-extend-hover:hover{
  transform: scale(1.5);
}
